div {
    width: 1300px;
    height: 100px;
    position: relative;
    left: 50%;
    top: 30px;
	margin-left: -650px;
    z-index: 1;
    font-family: "微软雅黑";
	font-size: 28px;
	text-align: center;
}

table {
	margin: auto;
	border-collapse: collapse;
}

.label1 {
	font-family: "微软雅黑";
	font-size: 13px;
	background-color: blue;
	color: white;
	width: 90px;
}

.label2 {
	font-family: "微软雅黑";
	font-size: 13px;
	margin-left: 15px;
	width: 90px;
}